{% extends "core/home.html" %}
{% block title %}
    About us
{% endblock title %}

{% block home_tag %}
    <a href="{% url 'core:home' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
{% endblock home_tag %}
{% block aboutus_tag %}
{% endblock aboutus_tag %}

{% block content %}
    {% if about_us_data %}
        <div class="about">
            <h2>ABOUT REFINERS SCHOOLS</h2>
        </div>
        <div> 
            {{ about_us_data.content | safe }}    
        </div>
    {% endif %}
    </br>
    {% if mission %}
        <div class="about-grid">
            <h2>MISSION</h2>
        </div>
        <div class="about-grid-content">
            {{ mission.content }}
        </div>
    {% endif %}
    </br>
    {% if vision %}
        <div  class="about-grid">
            <h2>VISION</h2>
        </div>
        <div class="about-grid-content">
            {{ vision.content }}
        </div>
    {% endif %}
    </br>
    {% if core_values %}
        <div  class="about-grid">
            <h2>CORE VALUES</h2>
        </div>
        <div class="about-grid-content">
            {{ core_values.content | safe }}
        </div>
    {% endif %}
    </br>
    {% if school_anthem %}
        <div>
            <h2>SCHOOL ANTHEM</h2>
        </div>
        <div>
            {{ school_anthem.content | safe }}
        </div>
    {% endif %}
{% endblock %}