{% extends 'core/home.html' %}
{% load static %}

{% comment %} <script src="{% static "core/js/gallery.js" %}"></script> {% endcomment %}

{% block title %}
    Gallery
{% endblock title %}

{% block header %}
    {{ block.super }}
        <script src=" {% static "core/js/content.js" %}"></script>
    {% endblock header %}

{% block home_tag %}
    <a href="{% url 'core:home' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
{% endblock home_tag %}

{% block facility_tag %}
{% endblock %}

{% block content %}
<div id="gallery-view">
    <div id="side-links">
        <button class="side-links-btn">Overview</button>
        <button class="side-links-btn" onclick="changeImage('reception')">Reception</button>
        <button class="side-links-btn" onclick="changeImage('primary')">Nursery/Primary School Building</button> 
        <button class="side-links-btn" onclick="changeImage('secondary')">Secondary School Building</button>
        <button class="side-links-btn" onclick="changeImage('classes')">Classes Overview</button>
        <button class="side-links-btn" onclick="changeImage('labs')">Labs</button>
        <button class="side-links-btn" onclick="changeImage('workshop')">Workshops</button>
        <button class="side-links-btn" onclick="changeImage('sports')">Sporting Facilities</button>
    </div>
    <div id="gallery">
        <div class="gallery-slides">
            {% if images %}
            {% for image in images %}
                {% if image.img_use == image_type %}
                    <div class="gallery-content">
                        <div class="gallery-image">        
                            <img src=../{{ media_url }}/{{ image.img }} alt="Image" class="img-gallery">
                        </div>
                        <div class="gallery-text">
                            <p>{{ image.img_tag }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>            
    </div>
</div>

<script>
    function changeImage(btnName) {
        // var imgElement = document.getElementById('displayedImage');
        console.log(btnName)
        if (btnName === 'reception') {
            image_type = 5;
        } else if (btnName === 'labs') {
            image_type = 4;
        } else if (btnName === 'primary') {
            image_type = 6;
        } else if (btnName === 'secondary') {
            image_type = 7;
        } else if (btnName === 'classes') {
            image_type = 8;
        } else if (btnName === 'workshop') {
            image_type = 9;
        } else if (btnName === 'sports') {
            image_type = 10;
        }
    }
</script>

{% endblock content %}