{% extends "main_base.html" %}
{% load i18n static %}
{% block title %}
    Welcome to Refiners Schools Website.
{% endblock title %}

{% block header %}
    {{ block.super }}
    <script src=" {% static "core/js/content.js" %}"></script>
{% endblock header %}

<!-- Login and admin page should not be accessible from the main website interface -->

{% block usertools %}
    {% block home_tag %}
        <div class="home_tag">
            <a href="{% url 'core:home' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        </div>
    {% endblock home_tag %}
    {% block aboutus_tag %}
        <div class="about_us_tag">
            <a href="{% url 'core:about' %}">About Us</a>
        </div>
    {% endblock aboutus_tag %}
    {% block admission_tag %}
        <div class="admission_tag">
            <a href="{% url 'core:admission' %}">Admission</a>
        </div>
    {% endblock admission_tag %}
    {% block academic_tag %}
        <div class="academic_tag">
            <a href="{% url 'core:academics' %}">Academics</a>
        </div>
    {% endblock academic_tag %}
    {% block facility_tag %}
        <div class="facility_tag">
            <a href="{% url 'core:gallery' %}">Gallery</a>
        </div>
    {% endblock facility_tag %}

    {% block breadcrumbs %}{% endblock %}

{% endblock usertools %}
{% block messages %}{% endblock messages %}

{% if homepage_images %}
    {% block visual %}
        {% comment %} {% block message %}
            {% if message %}
                <h2 id="message-id">
                    {{ message }}
                </h2>
            {% endif %}
        {% endblock message %} {% endcomment %}
        <div id="gallery-container">
            <div class="content-slider">
                {% for image_pair in homepage_images %}
                    {% comment %} {% if "media/" in image.img %}{{ image.img.replace("media/", "") }} {% endif %} {% endcomment %}
                    {% for image in image_pair %}
                        {% if image %}
                            <div class="content2">
                                <div class="image-section">
                                    <img src={{ media_url }}/{{ image.img }} alt={{ image.img_tag }} class="img-class">
                                    {% comment %} <img src="{% static 'core/images/kids.jpg' %}" alt="Image 1" class="img-class"> {% endcomment %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                {% endfor %}
            </div>
            {% comment %} left (&#9664;), right (&#9654;) {% endcomment %}
            <button class="nav-button-direction" id="prev-button">^</button> <!-- Left arrow -->
            <button class="nav-button-direction" id="next-button">^</button> <!-- Right arrow -->
        </div>
        {{ block.super }}
        </br>
    {% endblock visual %}
{% endif %}

{% block sidebar %}
    <div class="home-sidebar">

    </div>
{% endblock sidebar %}

{% block content %}
    <div class='post'>
        {% if about_us %}
            <div class='section-header'>
                <h2>ABOUT US</h2>
            </div>
            <div>
                <h3>{{ about_us.title }}</h3>
                <span>
                    {{ about_us.content }}
                </span>
                {% if about_us.img %}
                    <span>
                        <img src=../{{ media_url }}/{{ about_us.img }} alt="Image" class="image">
                    </span>
                {% endif %}
            </div>
            <div>
                <a href="{% url 'core:about' %}" id="read-more">READ MORE</a>
            </div>
        {% endif %}
    </div>

    <div class='offer-container'>
        {% if offer %}
        <div class='section-header'>
            <h2>WHAT WE OFFER</h2>
        </div>
        <div class='offer'>
            {% for item in offer %}
                <div class='offer-items'>
                    <h2 class='offer-tag'> {{ item.title.upper }} </h2>
                    <span>
                        {{ item.content }}
                    </span>
                </div>
            {% endfor %}
        </div>
        <div>
            <a href="{% url 'core:academics' %}" id="read-more">READ MORE</a>
        </div>
        {% endif %}
    </div>
    <div class='events'>
        {% if events %}
            <div class='section-header'>
                <h2>UPCOMING EVENTS</h2>
            </div>
            {% for event in events %}
                <div class='event'>
                    <h3> {{ event.title }} </h3>
                    {% if event.img %}
                        <img src=../{{ media_url }}/{{ event.img }} alt={{ event.tag }} class="image">
                    {% endif %}
                    <div>
                        {{ event.content }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}